page-list {

}

#fhm_page .scroll,
.fhm_container {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.fhm_row {
  /* position: absolute; */
  height: 33.3%;
  left:0;
  right:0;
  clear:both;
}

.fhm_item {
  height: 100%;
  width:49.95%;
  background-color: rgba(168, 168, 168,12);
  border: 1px solid white;
  float:left;
  font-size: 26px
}

.fhm_item p {
    text-align:center;
}

.btn-wrapper {
    text-align: center;
}